.container {
    padding: 1rem;
}

.normal {
    background-color: #00b300; 
}

.paper-shift {
    background-color: #ffcc00; 
}

.low-temperature {
    background-color: #0044ff; 
}

.high-temperature {
    background-color: #ff0033; 
}

.low-pressure {
    background-color: #8000ff; 
}

.pellet {
    width: 2rem;
    height: 2rem;
    border-radius: 8rem;
}

.title {
    color: yellow;
    margin-left: 1rem;
}

.item {
    width: 13rem;
}

@media screen and (max-width: 1560px) {
    .item {
        width: 12rem;
    }
}

@media screen and (max-width: 1460px) {
    .item {
        width: 11rem;
    }
}

@media screen and (max-width: 1360px) {
    .container {
        padding: .8rem;
    }
    
    .title {
        margin-left: .7rem;
    }
    .item {
        width: 9.6rem;
    }
}

@media screen and (max-width: 1260px) {
    .container {
        padding: .7rem;
    }
    
    .title {
        margin-left: .6rem;
    }
    .item {
        width: 9rem;
    }
}

@media screen and (max-width: 1100px) {
    .container {
        padding: .65rem;
    }
    
    .title {
        margin-left: .5rem;
    }
    .item {
        width: 7rem;
    }
}