<div class="container flex center vcenter">
    <div class="item flex center vcenter">
        <div class="pellet normal"></div>
        <div class="title">Normal</div>
    </div>
    <div class="item flex center vcenter">
        <div class="pellet paper-shift"></div>
        <div class="title">Paper Shift</div>
    </div>
    <div class="item flex center vcenter">
        <div class="pellet low-temperature"></div>
        <div class="title">Low Temperature</div>
    </div>
    <div class="item flex center vcenter">
        <div class="pellet high-temperature"></div>
        <div class="title">High Temperature</div>
    </div>
    <div class="item flex center vcenter">
        <div class="pellet low-pressure"></div>
        <div class="title">Low Pressure</div>
    </div>
</div>