.sealing-container {
    padding-bottom: 1rem;
}
.title {
    width: 6rem;
    height: 6rem;
    border-radius: 10rem;
    border: 2px solid yellow;
    color: white;
    font-size: 2rem;
}


.status {
    height: 6rem;
    margin-left: .4rem;
    background-color: red;
    border-radius: .4rem;
}

.normal {
    background-color: #00b300; /* Bright Green - Normal */
    color: white;
}

.paper-shift {
    background-color: #ffcc00; /* Bright blue - Warning */
    color: black;
}

.low-temperature {
    background-color: #0044ff; /* Bright Blue - Cold Issue */
    color: white;
}

.high-temperature {
    background-color: #ff0033; /* Bright Red - Critical Heat */
    color: white;
}

.low-pressure {
    background-color: #8000ff; /* Vivid Purple - Pressure Issue */
    color: white;
}
@media screen and (max-width: 1100px) {
    .title {
        width: 4rem;
        height: 5rem;
    }
    .status {
        height: 5rem;
    }
}

@media screen and (max-height: 1000px) {
    .title {
        width: 4.8rem;
        height: 4.8rem;
    }
    .status {
        height: 4.8rem;
    }
}
@media screen and (max-height: 900px) {
    .title {
        width: 4.2rem;
        height: 4.2rem;
    }
    .status {
        height: 4.2rem;
    }
}
@media screen and (max-height: 800px) {
    .title {
        width: 3.5rem;
        height: 3.5rem;
    }
    .status {
        height: 3.5rem;
    }
}
@media screen and (max-height: 700px) {
    .title {
        width: 3rem;
        height: 3rem;
    }
    .status {
        height: 2.8rem;
    }
}
